.insta-story-container {
  height: inherit;
  width: inherit;
  position: relative;
}

.insta-story-container .slider-section {
  width: inherit;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes loader {
  0% {
      transform: scaleX(0);
    }
    100% {
    transform: scaleX(1);
    }
}

/* .insta-story-container .__active::after {
  content: '';
  width: 100%;
  height: 2px;
  display: block;
  background-color: #fff;
  transform-origin: 0% center 0px;
  animation: loader 7s linear;
}

.insta-story-container .__fill {
  background-color: #fff !important;
} */

.App-header {
  width: 100vw;
}

img {
  height: 400px;
  width: 100vw;
}

button {
  background: #000;
    z-index: 99;
    color: #fff;
    height: 100px;
    width: 100px;
}
body {
  background: #000;
}